html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Susy Variables */
@media screen {
  html {
    font-size: 100%;
    line-height: 1.75em;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    background-color: #fff;
  }

  body {
    *zoom: 1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    color: #333;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    font-size: 1.875em;
    line-height: 1.86667em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.16667em;
    margin-bottom: 1.75em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight: bold;
    color: #999;
  }

  table {
    width: 100%;
    font-size: 0.875em;
    line-height: 2em;
    margin-bottom: 1.75em;
  }
  table tr {
    border-bottom: 1px dotted #cccccc;
  }
  table thead tr {
    border-bottom: 2px solid #999999;
  }
  table th {
    font-weight: bold;
  }
  table th, table td {
    vertical-align: top;
    padding: 0.4375em 0;
  }

  ul {
    list-style: square;
    margin-left: 1.75em;
  }

  p, ul, ol, dl {
    margin-bottom: 1.75em;
  }

  a:link {
    color: #39f;
  }
  a:visited {
    color: #38c;
  }
  a:hover {
    color: #36f;
  }
  a:focus {
    color: #36f;
  }
  a:active {
    color: #555;
  }

  .kicker {
    color: #999;
    font-size: 0.75em;
    line-height: 2.33333em;
    display: block;
    font-weight: bold;
  }

  header[role="banner"] {
    background: rgba(0, 0, 200, 0.05);
    padding-left: 8.69565%;
    padding-right: 8.69565%;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    border-bottom: 1px solid rgba(0, 0, 200, 0.1);
    overflow: hidden;
    *zoom: 1;
  }
  header[role="banner"] h1 {
    font-size: 1em;
    line-height: 1.75em;
    margin: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
  header[role="banner"] hgroup {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
  }
  header[role="banner"] #courtesy {
    width: 47.82609%;
    float: right;
    margin-right: 0;
    #margin-left: -4em;
    display: inline;
    text-align: right;
  }
  header[role="banner"] #courtesy p {
    margin: 0;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 2.33333em;
  }

  #primary-nav {
    overflow: hidden;
    *zoom: 1;
    padding-left: 8.69565%;
    padding-right: 8.69565%;
    padding-top: 0.875em;
    font-size: 0.875em;
    line-height: 2em;
  }
  #primary-nav ul {
    margin-left: 0;
  }
  #primary-nav li {
    display: inline;
  }
  #primary-nav li + li:before {
    content: "| ";
    color: rgba(0, 0, 0, 0.5);
  }

  div[role="main"] {
    overflow: hidden;
    *zoom: 1;
    padding-left: 8.69565%;
    padding-right: 8.69565%;
  }
  div[role="main"] h1 {
    margin-bottom: 0.875em;
  }
  div[role="main"] #facets,
  div[role="main"] #package {
    width: 26.31579%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  div[role="main"] #package .dates {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 0.75em;
    line-height: 2.33333em;
    color: #999;
    border-top: 1px dotted #cccccc;
  }
  div[role="main"] #package .dates li {
    border-bottom: 1px dotted #cccccc;
    padding: 0.4375em 0;
  }
  div[role="main"] #package input[type=text],
  div[role="main"] #package select {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
  }
  div[role="main"] #results,
  div[role="main"] #object {
    width: 68.42105%;
    float: right;
    margin-right: 0;
    #margin-left: -4em;
    display: inline;
  }
  div[role="main"] #results .result,
  div[role="main"] #object .result {
    border: 1px solid #dddddd;
    padding: 20px;
    margin-bottom: 1.75em;
  }
  div[role="main"] #results .result .health-check,
  div[role="main"] #object .result .health-check {
    margin: 0 -20px -20px;
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 0.75em;
    line-height: 2.33333em;
    font-weight: bold;
  }
  div[role="main"] #results .result .meta,
  div[role="main"] #object .result .meta {
    font-size: 0.75em;
    line-height: 2.33333em;
    color: #999;
  }
  div[role="main"] #results .result .good,
  div[role="main"] #object .result .good {
    background-color: rgba(0, 255, 0, 0.25);
  }
  div[role="main"] #results .result .bad,
  div[role="main"] #object .result .bad {
    background-color: rgba(255, 0, 0, 0.25);
  }

  section {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  section#recent-ingests {
    width: 47.36842%;
    float: right;
    margin-right: 0;
    #margin-left: -4em;
    display: inline;
  }

  #chart {
    height: 200px;
    background: #eee;
    margin-top: 0.875em;
  }

  .ingests {
    list-style: none;
    margin-left: 0;
  }
  .ingests li {
    padding: 0.875em;
    margin-bottom: 0.875em;
  }
  .ingests li p {
    margin: 0;
    font-size: 0.875em;
    line-height: 2em;
  }
  .progress .ingests li p {
    margin-top: 0.875em;
  }
  .ingests li h2 {
    font-size: 1.125em;
    line-height: 1.55556em;
    margin: 0;
  }
  .ingests li + li {
    border-top: 1px dotted rgba(0, 0, 0, 0.25);
  }
  .ingests li.completed {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px dotted rgba(0, 0, 0, 0.25);
  }
  .ingests li.failed {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px dotted rgba(0, 0, 0, 0.25);
  }
  .ingests li.failed .progress {
    color: red;
    font-weight: bold;
  }
}
